.section {
  width: 100vw;
  height: 700px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sectionLeft {
  height: 50%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 70px;
}

.sectionLeftHeader > p {
  font-size: 26px;
  color: blue;
  font-weight: bold;
}

.sectionLeftHeader > p > span {
  font-size: 26px;
  color: blue;
  font-weight: bold;
}

.sectionLeftSubtitle {
  margin-top: 20px;
}

.sectionLeftSubtitle p {
  color: #969696;
}

.sectionLeftFooter {
  margin-top: 32px;
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}

.sectionLeftFooterJoinBtn {
  background-color: orange;
  border: none;
  outline: none;
  width: fit-content;
  font-size: 14px;
  height: 32px;
  border-radius: 16px;
  padding: 0px 16px;
  cursor: pointer;
}

.sectionLeftFooterPlayBtn {
  width: 36px;
  height: 36px;
  border-radius: 18px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 2px;
  cursor: pointer;
  margin-left: 24px;
}

.sectionRight {
  margin-right: 10%;
  width: 40%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: space;
}