.cardContainer {
  width: 250px;
  height: 170px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 4px 8px 0 rgba(0, 0, 0, 0.05);

}

.cardImage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: blue;
  border-radius: 25px;
  position: relative;
  top: -25px;
  left: 100px;
}

.cardTitle {
  width: 100%;
  text-align: center;
  color: blue;
  font-weight: bold;
  margin-top: -15px;
}

.cardSubtitle {
  text-align: center;
  margin-top: 16px;
}

.cardSubtitle p {
  font-size: 14px;
  color: #969696;
}