* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.background {
  height: 65vh;
  width: 100vw;
  background-color: rgb(252, 242, 217);
  position: absolute;
  z-index: -2;
  border-bottom-left-radius: 35%;
  border-bottom-right-radius: 35%;
}

.bgImage {
  width: 300px;
  position: relative;
  left: 990px;
  top: 70px;
}